In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:\curso_BI\dados_marketing\dataset\dados_marketing.csv', sep= ';')

In [3]:
df.head()

,ID,Ano Nascimento,Escolaridade,Estado Civil,Salario Anual,Filhos em Casa,Adolescentes em Casa,Data Cadastro,Dias Desde Ultima Compra,Gasto com Eletronicos,...,Numero de Compras via Catalogo,Numero de Compras na Loja,Numero Visitas WebSite Mes,Compra na Campanha 1,Compra na Campanha 2,Compra na Campanha 3,Compra na Campanha 4,Compra na Campanha 5,Comprou,Pais
0,2795,1958,Mestrado,Solteiro,30523.0,2,1,07/01/2020,0,5,...,0,2,7,0,0,0,0,0,0,Chile
1,2285,1954,Mestrado,Casado,36634.0,0,1,05/12/2023,0,213,...,2,5,7,0,0,0,0,0,0,Espanha
2,115,1966,Mestrado,Solteiro,43456.0,0,1,03/02/2023,0,275,...,1,8,5,0,0,0,0,0,0,Argentina
3,10470,1979,Mestrado,Solteiro,40662.0,1,0,03/05/2023,0,40,...,1,3,4,0,0,0,0,0,0,Alemanha
4,4065,1976,Doutorado,Solteiro,49544.0,1,0,02/11/2020,0,308,...,1,8,7,0,0,0,0,0,0,Estados Unidos

In [4]:
df.isnull().sum()

ID                                 0
Ano Nascimento                     0
Escolaridade                       0
Estado Civil                       0
Salario Anual                     19
Filhos em Casa                     0
Adolescentes em Casa               0
Data Cadastro                      0
Dias Desde Ultima Compra           0
Gasto com Eletronicos              0
Gasto com Brinquedos               0
Gasto com Moveis                   0
Gasto com Utilidades               0
Gasto com Alimentos                0
Gasto com Vestuario                0
Numero de Compras com Desconto     0
Numero de Compras na Web           0
Numero de Compras via Catalogo     0
Numero de Compras na Loja          0
Numero Visitas WebSite Mes         0
Compra na Campanha 1               0
Compra na Campanha 2               0
Compra na Campanha 3               0
Compra na Campanha 4               0
Compra na Campanha 5               0
Comprou                            0
Pais                               0
dtype: int64

In [5]:
df.keys()

Index(['ID', 'Ano Nascimento', 'Escolaridade', 'Estado Civil', 'Salario Anual',
       'Filhos em Casa', 'Adolescentes em Casa', 'Data Cadastro',
       'Dias Desde Ultima Compra', 'Gasto com Eletronicos',
       'Gasto com Brinquedos', 'Gasto com Moveis', 'Gasto com Utilidades',
       'Gasto com Alimentos', 'Gasto com Vestuario',
       'Numero de Compras com Desconto', 'Numero de Compras na Web',
       'Numero de Compras via Catalogo', 'Numero de Compras na Loja',
       'Numero Visitas WebSite Mes', 'Compra na Campanha 1',
       'Compra na Campanha 2', 'Compra na Campanha 3', 'Compra na Campanha 4',
       'Compra na Campanha 5', 'Comprou', 'Pais'],
      dtype='object')

In [6]:
df.describe()

,ID,Ano Nascimento,Salario Anual,Filhos em Casa,Adolescentes em Casa,Dias Desde Ultima Compra,Gasto com Eletronicos,Gasto com Brinquedos,Gasto com Moveis,Gasto com Utilidades,...,Numero de Compras na Web,Numero de Compras via Catalogo,Numero de Compras na Loja,Numero Visitas WebSite Mes,Compra na Campanha 1,Compra na Campanha 2,Compra na Campanha 3,Compra na Campanha 4,Compra na Campanha 5,Comprou
count,2000.000000,2000.000000,1981.000000,2000.000000,2000.000000,2000.00000,2000.00000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,5617.382500,1968.797000,52290.852600,0.447500,0.503000,43.73500,303.92850,26.316500,164.143500,37.587000,...,4.075000,2.635500,5.797500,5.327500,0.074000,0.073000,0.071500,0.066500,0.013000,0.160000
std,3259.910118,11.981468,25484.701911,0.535151,0.540497,25.85885,337.84483,40.317925,221.565768,54.748143,...,2.754663,2.885793,3.275952,2.440947,0.261836,0.260202,0.257723,0.249216,0.113302,0.366698
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2814.750000,1959.000000,35196.000000,0.000000,0.000000,22.00000,23.00000,1.000000,16.000000,3.000000,...,2.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5492.000000,1970.000000,51766.000000,0.000000,0.000000,45.00000,175.50000,8.000000,67.000000,12.000000,...,4.000000,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8495.000000,1977.000000,68281.000000,1.000000,1.000000,66.00000,503.25000,32.000000,226.000000,50.000000,...,6.000000,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,88.00000,1493.00000,199.000000,1725.000000,259.000000,...,27.000000,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
print(df.dtypes)

ID                                  int64
Ano Nascimento                      int64
Escolaridade                       object
Estado Civil                       object
Salario Anual                     float64
Filhos em Casa                      int64
Adolescentes em Casa                int64
Data Cadastro                      object
Dias Desde Ultima Compra            int64
Gasto com Eletronicos               int64
Gasto com Brinquedos                int64
Gasto com Moveis                    int64
Gasto com Utilidades                int64
Gasto com Alimentos                 int64
Gasto com Vestuario                 int64
Numero de Compras com Desconto      int64
Numero de Compras na Web            int64
Numero de Compras via Catalogo      int64
Numero de Compras na Loja           int64
Numero Visitas WebSite Mes          int64
Compra na Campanha 1                int64
Compra na Campanha 2                int64
Compra na Campanha 3                int64
Compra na Campanha 4                int64
Compra na Campanha 5                int64
Comprou                             int64
Pais                               object
dtype: object

In [8]:
import matplotlib.pyplot as plt

import seaborn as sns

# Criar a matriz de correlaÃ§Ã£o com os dados do nosso dataset

corr = df.corr()

# Criar a heatmap da matriz de correlaÃ§Ã£o

sns.heatmap(corr,  cmap="Blues")

# mostrar o grÃ¡fico

plt.show()

ValueError: could not convert string to float: 'Mestrado'